# Configuration file

####################
# both
#===================
# Settings controlled by both.
# Client can be different from server.
# If client differs from server, server can disable client's setting if false.
####################

both {
    B:useMod=true
}


####################
# client
#===================
# Settings controlled client.
# Can vary from server to server.
####################

client {
    B:hasParticles=true
}


####################
# enchantments
#===================
# Enchantments can be disabled to be enchantable in the table.
# Controlled on the server side
####################

enchantments {
    B:enchantment.arrowDamage=true
    S:enchantment.arrowDamage-ToolTip=
    B:enchantment.arrowFire=true
    S:enchantment.arrowFire-ToolTip=
    B:enchantment.arrowInfinite=true
    S:enchantment.arrowInfinite-ToolTip=
    B:enchantment.arrowKnockback=true
    S:enchantment.arrowKnockback-ToolTip=
    B:enchantment.binding=true
    S:enchantment.binding-ToolTip=
    B:enchantment.damage.all=true
    S:enchantment.damage.all-ToolTip=
    B:enchantment.damage.arthropods=true
    S:enchantment.damage.arthropods-ToolTip=
    B:enchantment.damage.undead=true
    S:enchantment.damage.undead-ToolTip=
    B:enchantment.digging=true
    S:enchantment.digging-ToolTip=
    B:enchantment.disarm=true
    S:enchantment.disarm-ToolTip=
    B:enchantment.durability=true
    S:enchantment.durability-ToolTip=
    B:enchantment.fire=true
    S:enchantment.fire-ToolTip=
    B:enchantment.frugal=true
    S:enchantment.frugal-ToolTip=
    B:enchantment.haste=true
    S:enchantment.haste-ToolTip=
    B:enchantment.knockback=true
    S:enchantment.knockback-ToolTip=
    B:enchantment.lootBonus=true
    S:enchantment.lootBonus-ToolTip=
    B:enchantment.lootBonusDigger=true
    S:enchantment.lootBonusDigger-ToolTip=
    B:enchantment.nightVision=true
    S:enchantment.nightVision-ToolTip=
    B:enchantment.oxygen=true
    S:enchantment.oxygen-ToolTip=
    B:enchantment.potency=true
    S:enchantment.potency-ToolTip=
    B:enchantment.protect.all=true
    S:enchantment.protect.all-ToolTip=
    B:enchantment.protect.explosion=true
    S:enchantment.protect.explosion-ToolTip=
    B:enchantment.protect.fall=true
    S:enchantment.protect.fall-ToolTip=
    B:enchantment.protect.fire=true
    S:enchantment.protect.fire-ToolTip=
    B:enchantment.protect.projectile=true
    S:enchantment.protect.projectile-ToolTip=
    B:enchantment.repair=true
    S:enchantment.repair-ToolTip=
    B:enchantment.tfFireReact=true
    S:enchantment.tfFireReact-ToolTip=
    B:enchantment.thorns=true
    S:enchantment.thorns-ToolTip=
    B:"enchantment.ttinkerer:ascentBoost"=true
    S:"enchantment.ttinkerer:ascentBoost-ToolTip"=
    B:"enchantment.ttinkerer:autoSmelt"=true
    S:"enchantment.ttinkerer:autoSmelt-ToolTip"=
    B:"enchantment.ttinkerer:desintegrate"=true
    S:"enchantment.ttinkerer:desintegrate-ToolTip"=
    B:"enchantment.ttinkerer:quickDraw"=true
    S:"enchantment.ttinkerer:quickDraw-ToolTip"=
    B:"enchantment.ttinkerer:slowFall"=true
    S:"enchantment.ttinkerer:slowFall-ToolTip"=
    B:"enchantment.ttinkerer:vampirism"=true
    S:"enchantment.ttinkerer:vampirism-ToolTip"=
    B:enchantment.untouching=true
    S:enchantment.untouching-ToolTip=
    B:enchantment.wandfortune=true
    S:enchantment.wandfortune-ToolTip=
    B:enchantment.waterWorker=true
    S:enchantment.waterWorker-ToolTip=
}


####################
# ids
####################

ids {
    I:AdvancedEnchantmentTable=3050
    I:EnchantmentTableUpgradte=10205
}


####################
# server
#===================
# Settings controlled by server.
####################

server {
    B:AllowDisenchanting=true
    B:AllowEnchantDamaged=true
    B:AllowRepair=true
    I:CostFactor=5
    B:"Disenchant Unowned"=false
    I:RepairFactor=5
    B:hasLight=true
    I:minimumBook=5
    B:needsBookShelves=true
}


